<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>screen savor</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/freelancer.css" rel="stylesheet">
</head>

<body>
  <!-- Nav -->
  <nav class="navbar bg-secondary fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">screen savor</a>
      <button class="navbar-toggler navbar-toggler-right bg-primary rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#artgallery">Art</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#menu">Menu</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#location">Location</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#socials">Socials</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead bg-primary text-center">
    <div class="container">
      <!-- <img class="img-fluid mb-5 d-block mx-auto" src="img/large_20180410_195528.jpg" alt=""> -->
      <br/>
      <h1 class="mb-0 font-weight-bold">screen savor</h1>
      <br/>
      <h4 class="font-italic font-weight-light">coming Spring 2019!</h4>
    </div>
  </header>

  <!-- About Section -->
  <section class="bg-primary mb-0" id="about">
    <div class="container">
      <p class="lead text-center">Third wave coffee, desserts and anime art gallery</p>
    </div>
  </section>

  <!-- Art Grid Section -->
  <section class="artgallery" id="artgallery">
    <div class="container">
      <div class="masthead row">
        <div></div>
        <h2 class="text-center text-primary col">
          art
        </h2>
      </div>
      <br/>

      <div class="row gallery">
        <div class="col-md-6 col-lg-4 gallery-link">
          <a class="artgallery-item d-block mx-auto" href="img/artgallery/cabin.png">
            <div class="artgallery-item-caption d-flex position-absolute h-100 w-100">
              <div class="artgallery-item-caption-content my-auto w-100 text-center">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/artgallery/cabin.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="artgallery-item d-block mx-auto" href="img/artgallery/cake.png">
            <div class="artgallery-item-caption d-flex position-absolute h-100 w-100">
              <div class="artgallery-item-caption-content my-auto w-100 text-center">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/artgallery/cake.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="artgallery-item d-block mx-auto" href="img/artgallery/circus.png">
            <div class="artgallery-item-caption d-flex position-absolute h-100 w-100">
              <div class="artgallery-item-caption-content my-auto w-100 text-center">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/artgallery/circus.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="artgallery-item d-block mx-auto" href="img/artgallery/game.png">
            <div class="artgallery-item-caption d-flex position-absolute h-100 w-100">
              <div class="artgallery-item-caption-content my-auto w-100 text-center">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/artgallery/game.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="artgallery-item d-block mx-auto" href="img/artgallery/safe.png">
            <div class="artgallery-item-caption d-flex position-absolute h-100 w-100">
              <div class="artgallery-item-caption-content my-auto w-100 text-center">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/artgallery/safe.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="artgallery-item d-block mx-auto" href="img/artgallery/submarine.png">
            <div class="artgallery-item-caption d-flex position-absolute h-100 w-100">
              <div class="artgallery-item-caption-content my-auto w-100 text-center">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/artgallery/submarine.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Menu -->
  <section class="menu bg-primary mb-0" id="menu">
    <div class="container">
      <div class="masthead row">
        <div></div>
        <h2 class="text-center text-primary col">menu</h2>
      </div>

      <br/><br/><br/>
      <div class="row menu-row">
        <div class="mb-5 mb-lg-0 menu-column">
          <h3 class="mb-4">drink</h3>
          <ul class="list-inline mb-0">
              <li class="lead mb-0">COFFEE 3</li>
              <li class="lead mb-0">ESPRESSO  3.5</li>
              <li class="lead mb-0">LATTE  4</li>
              <li class="lead mb-0">CAPPUCCINO  4</li>
              <li class="lead mb-0">MOCHA  4.75</li>
              <li class="lead mb-0">AFFOGATO  5</li>
              <li class="lead mb-0">TEA  2.5</li>
          </ul>
        </div>

        <div class="mb-5 mb-lg-0 menu-column">
          <h3 class="mb-4">eat</h3>
          <ul class="list-inline mb-0">
              <li class="lead mb-0"><p>MACARON  3<br/>a vibrant and delicate meringue cookie sandwich</p></li>
              <li class="lead mb-0"><p>COOKIE  3<br>milk chocolate</p></li>
              <li class="lead mb-0"><p>HONEY TOAST BOX  8<br>drizzled in honey and lightly toasted. ice cream topped with sprinkles, fresh fruit, and pocky</p></li>
              <li class="lead mb-0"><p>CUPCAKE  4</p><p>MOLTEN LAVA CAKE  8<br>decadent chocolate cake with a chocolatey liquid center</p></li>
              <li class="lead mb-0"><p>MOUSSE  6<br>rich and fluffy cream topped with cookie crumbs</p></li>
              <li class="lead mb-0"><p>POTTED PLANT  7<br>oreo and mousse soil with brownie bottom</p></li>
          </ul>
        </div>
      </div>
    </div>
  </section>  

  <!-- Location Section -->
  <section id="location">
    <div class="container text-center">
        <h3 class="text-secondary mb-0">location</h3>
      <br/><br/><br/>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.2043337377872!2d-122.43130644958664!3d37.785250869231156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580bed08b350f%3A0xdde2c940601553fe!2s22+Peace+Plz%2C+San+Francisco%2C+CA+94115!5e0!3m2!1sen!2sus!4v1551059031488" width="90%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </section>

  <!-- Socials -->
  <section id="socials">
    <div class="container">
    <h3 class="text-center text-secondary mb-0">socials</h3>
  <br/><br/><br/>
      <div class="mb-5 mb-lg-0 text-center">
        <ul class="list-inline mb-0">
          <!-- <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fab fa-fw fa-facebook-f"></i>
            </a>
          </li> -->
          <!-- <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fab fa-fw fa-google-plus-g"></i>
            </a>
          </li> -->

          <li class="list-inline-item">
            <a class="btn btn-outline-dark btn-social text-center rounded-circle" href="https://twitter.com/screensavor">
              <i class="fab fa-fw fa-twitter"></i>
            </a><br><a class="btn" href="https://twitter.com/screensavor">
              twitter
              </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-dark btn-social text-center rounded-circle" href="https://www.instagram.com/screensavor/">
              <i class="fab fa-fw fa-instagram"></i>
            </a><br><a class="btn" href="https://www.instagram.com/screensavor/">
                instagram
                </a>
          </li>
          <!-- <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fab fa-fw fa-dribbble"></i>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </section>
  
  <div class="copyright py-4 text-center">
    <div class="container">
      <small>Copyright &copy; Screen Savor 2019</small>
    </div>
  </div>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.js"></script>

</body>

</html>
